.app {
	.status {
		margin-top: 10px;
	}

	.json-print {
		width: 100%;
		margin-top: 10px;
	}

	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	label {
		margin: 10px 0px;
	}

	.question {
		width: 100%;
		background-color: silver;
		padding: 20px;
		margin-bottom: 10px;
	}

	.answer {
		width: 100%;
		background-color: silver;
		padding: 10px;
		margin-bottom: 10px;
	}

	.w3-light-grey {
		margin-bottom: 10px;
	}

	.game {
		padding: 18px;
	}

	.popup {
		position: absolute;
		width: 95%;
		height: 50%;
		background-color: rgba(100, 100, 100, 0.5);
		margin: -15px;
	}
}
